*{
  margin: 0px;
  padding: 0px;
}
body{
  background-attachment: fixed;
  background-image: linear-gradient(115deg,#11eaff 10%,#9f01ea 90%);
}
#first-box{
  width: calc(90vw + 6.1%);
  height: calc(9.5vh + 3.1%);
  border-radius: 57px;
  position: absolute;
  background-color: #fff;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  place-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.5) inset;
}
#second-box{
  width: 89.5vw;
  height: 9.2vh;
  position: relative;
  display: flex;
  place-items: center;
  background-color: #000;
  box-shadow: 0px 0px 10px 4px rgba(255,255,255,0.5) inset;
  background-image: url('https://raw.githubusercontent.com/raj654/NewYear.github.io/main/Crackers2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
#img-box{
  width: 147px;
  height: 147px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: grid;
  place-items: center;
  position: absolute;
  left: 3vw;
  overflow: hidden;
}
#img-box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(#05eaff, #9b05ff, #ff05f4);
  animation: rotate-effect 1s linear infinite;
}
@keyframes rotate-effect{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
#img-box img{
  width: calc(100% - 17px);
  height: calc(100% - 17px);
  border-radius: 50%;
  z-index: 1000;
}
.top-bottom{
  width: 102.875%;
  height: 9%;
  border-radius: 65px;
  position: absolute;
  background-color: #fff;
}
#top-border{
  top: -12%;
  left: -0.275%;
  animation: top-border-effect 10s linear infinite;
}
#bottom-border{
  height: 9.5%;
  bottom: -12%;
  right: -0.274%;
  animation: bottom-border-effect 10s linear infinite;
}
.right-left{
  border-radius: 65px;
  position: absolute;
  background-color: #fff;
}
#right-border{
  width: 2.2%;
  height: 112%;
  right: -2.48%;
  top: -1.15%;
  animation: right-border-effect 10s linear infinite;
}
#left-border{
  width: 2.25%;
  height: 112.3%;
  left: -2.48%;
  bottom: -1.5%;
  animation: left-border-effect 10s linear infinite;
}


/*TOP BORDER EFFECT*/
@keyframes top-border-effect{
  0%{
    transform: translateX(-102.2%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  6.67%,10%{
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  16.67%{
    transform: translateX(-102.2%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  16.671%{
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  23.34%,26.67%{
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  33.34%{
    transform: translateX(-102.2%);
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  33.341%{
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  40%,43.34%{
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  50%{
    transform: translateX(-102.2%);
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  50.01%{
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  56.67%,60%{
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  66.67%{
    transform: translateX(-102.2%);
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  66.671%{
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  73.34%,76.67%{
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  83.34%{
    transform: translateX(-102.2%);
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  83.341%{
     box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
  90%,93.34%{
    transform: translateX(0%);
     box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
  100%{
    transform: translateX(-102.2%);
     box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
}

/*RIGHT BORDER EFFECT*/
@keyframes right-border-effect{
  0%{
    transform: translateY(120%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  6.67%,10%{
    transform: translateY(0%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  16.67%{
    transform: translateY(120%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  16.671%{
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  23.34%,26.67%{
    transform: translateY(0%);
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  33.34%{
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  33.341%{
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  40%,43.34%{
    transform: translateY(0%);
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  50%{
    transform: translateY(120%);
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  50.01%{
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  56.67%,60%{
    transform: translateY(0%);
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  66.67%{
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  66.671%{
    transform: translateY(120%);
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  73.34%,76.67%{
    transform: translateY(0%);
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  83.34%{
    transform: translateY(120%);
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  83.341%{
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
  90%,93.34%{
    transform: translateY(0%);
    box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
  100%{
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
}

/*BOTTOM BORDER EFFECT*/
@keyframes bottom-border-effect{
  0%{
    transform: translateX(105%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  6.67%,10%{
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  16.67%{
    transform: translateX(105%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  16.671%{
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  23.34%,26.67%{
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  33.34%{
    transform: translateX(105%);
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  33.341%{
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  40%,43.34%{
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  50%{
    transform: translateX(105%);
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  50.01%{
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  56.67%,60%{
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  66.67%{
    transform: translateX(105%);
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  66.671%{
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  73.34%,76.67%{
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  83.34%{
    transform: translateX(105%);
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  83.341%{
    box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
  90%,93.34%{
    transform: translateX(0%);
    box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
  100%{
    transform: translateX(105%);
    box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
}

/*LEFT BORDER EFFECT*/
@keyframes left-border-effect{
  0%{
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  6.67%,10%{
    transform: translateY(0%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  16.67%{
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px 5px #004aff,0px 0px 20px 7.5px #004aff,0px 0px 30px 10px #004aff;
  }
  16.671%{
    transform: translateY(120%);
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  23.34%,26.67%{
    transform: translateY(0%);
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  33.34%{
    transform: translateY(120%);
    box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  }
  33.341%{
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  40%,43.34%{
    transform: translateY(0%);
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  50%{
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px 5px #ff0e00,0px 0px 20px 7.5px #ff0e00,0px 0px 30px 10px #ff0e00;
  }
  50.01%{
    transform: translateY(120%);
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  56.67%,60%{
    transform: translateY(0%);
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  66.67%{
    transform: translateY(120%);
    box-shadow: 0px 0px 10px 5px #7b00ff,0px 0px 20px 7.5px #7b00ff,0px 0px 30px 10px #7b00ff;
  }
  66.671%{
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  73.34%,76.67%{
    transform: translateY(0%);
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  83.34%{
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px 5px #fffa00,0px 0px 20px 7.5px #fffa00,0px 0px 30px 10px #fffa00;
  }
  83.341%{
    transform: translateY(120%);
     box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
  90%,93.34%{
    transform: translateY(0%);
     box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
  100%{
    transform: translateY(120%);
     box-shadow: 0px 0px 10px 5px #ff00f6,0px 0px 20px 7.5px #ff00f6,0px 0px 30px 10px #ff00f6;
  }
}
#developer-name{
  font-size: 87px;
  color: transparent;
  transform: translate(70%,-8%);
  background-image: linear-gradient(100deg,#ff0000,#ff8000,#fffa00,#1cff00,#00ffaa,#00fff2,#0056ff,#0d00ff,#9a00ff,#ff00a3);
  -webkit-background-clip:text;
  background-size: 500%;
  animation: background-size-effect 7s infinite alternate-reverse;
}
@keyframes background-size-effect{
   0%{
     background-position: -100%;
     }
  25%{
      background-position: -200%;
     }
  50%{
      background-position: -300%;
      }
  75%{
      background-position: -400%;
     }
  100%{
      background-position: -500%;
    }
}
#developer-name span{
  display: table-cell;
  font-family: 'Pacifico', cursive;
  animation: visibility-effect 2.2s linear infinite;
  text-shadow: 8.5px 6px 2px #fff;
  visibility: hidden;
}
#developer-name span:nth-child(1){
  animation-delay: 0.2s;
}
#developer-name span:nth-child(2){
  animation-delay: 0.4s;
}
#developer-name span:nth-child(3){
  animation-delay: 0.6s;
}
#developer-name span:nth-child(4){
  animation-delay: 0.8s;
}
#developer-name span:nth-child(5){
  animation-delay: 1s;
}
#developer-name span:nth-child(6){
  animation-delay: 1.2s;
}
#developer-name span:nth-child(7){
  animation-delay: 1.4s;
}
#developer-name span:nth-child(8){
  animation-delay: 1.6s;
}
#developer-name span:nth-child(9){
  animation-delay: 1.8s;
}
@keyframes visibility-effect{
  0%,90.89%{
    visibility: visible;
  }
  90.90%,99.99%{
    visibility: hidden;
  }
  100%{
    visibility: visible;
  }
}
#center-box{
  position: relative;
  width: 90vw;
  height: 71vh;
  border-radius: 45px;
  top: 19vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.5) inset;
}
#image-box{
  position: absolute;
  width: 52%;
  height: 42%;
  border: 0px solid ;
  left: 3.9vw;
  top: 2vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  padding: 0px;
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4) inset;
}
.top-bottom2{
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
  border-radius: 45px;
}
#top-border2{
  top:5px;
  animation: top-border2-effect 2s linear infinite;
}
@keyframes top-border2-effect{
  0%{
    transform: translateX(-110%);
    filter: hue-rotate(0deg);
    z-index: 500;
  }
  49.9%{
    z-index: 500;
  }
  50%{
    transform: translateX(0%);
    filter: hue-rotate(180deg);
    z-index: 100;
  }
  100%{
    transform: translateX(110%);
    filter: hue-rotate(330deg);
  }
}
#bottom-border2{
  bottom: 5px;
  animation: bottom-border2-effect 2s linear infinite;
  z-index: 300;
}
@keyframes bottom-border2-effect{
  0%{
    transform: translateX(110%);
    filter: hue-rotate(0deg);
  }
  50%{
    transform: translateX(0%);
    filter: hue-rotate(180deg);
  }
  100%{
    transform: translateX(-110%);
    filter: hue-rotate(330deg);
  }
}
.right-left2{
  position: absolute;
  width: 20px;
  height: calc(100% - 40px);
  border-radius: 45px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px #00ff0e,0px 0px 20px 7.5px #00ff0e,0px 0px 30px 10px #00ff0e;
}
#right-border2{
  right: 5px;
  transform: translateY(-110%);
  animation: right-border2-effect 2s linear infinite;
  animation-delay: 1s;
  z-index: 200;
}
@keyframes right-border2-effect{
  0%{
    transform: translateY(-110%);
    filter: hue-rotate(180deg);
  }
  50%{
    transform: translateY(0%);
    filter: hue-rotate(330deg);
  }
  100%{
    transform: translateY(110%);
    filter: hue-rotate(0deg);
  }
}
#left-border2{
  left: 5px;
  transform: translateY(110%);
  animation: left-border2-effect 2s linear infinite;
  animation-delay: 1s;
  z-index: 400;
}
@keyframes left-border2-effect{
  0%{
    transform: translateY(110%);
    filter: hue-rotate(180deg);
  }
  50%{
    transform: translateY(0%);
    filter: hue-rotate(330deg);
  }
  100%{
    transform: translateY(-110%);
    filter: hue-rotate(0deg);
  }
}
#image-box2{
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.6);
}
#image-box2 img{
  width: 100%;
  height: 100%;
}
#wise-box{
  position: absolute;
  width: calc(48% - 4vw);
  height: 41.5%;
  right: 0px;
  top: 2vh;
  border: 0px solid ;
}
#wise{
  margin-top: 0vh;
}
#wise span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 8px;
}
#happy p{
  font-size: 85px;
  color: #fff;
  text-shadow: 0px 0px 10px rgb(0,255,14),0px 0px 20px rgb(0,255,14),0px 0px 30px rgb(0,255,14);
  animation: text-effect 2s linear infinite;
}
@keyframes text-effect{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(330deg);
  }
}
#new{
  margin-top: 3vh;
  font-size: 85px;
  color: #fff;
  text-shadow: 0px 0px 10px rgb(0,255,14),0px 0px 20px rgb(0,255,14),0px 0px 30px rgb(0,255,14);
  animation: text-effect 2s linear infinite;
 animation-delay: 0.3s;
}
#year{
  margin-top: 6vh;
  font-size: 85px;
  color: #fff;
  text-shadow: 0px 0px 10px rgb(0,255,14),0px 0px 20px rgb(0,255,14),0px 0px 30px rgb(0,255,14);
  animation: text-effect 2s linear infinite;
 animation-delay: 0.6s;
}
#num{
  position: absolute;
  margin-top: 10.3vh;
  font-size: 130px;
  border: 0px solid ;
  width: 88%;
  padding-bottom: 30px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 5px rgba(107,110,107,0.269),0px 0px 20px 7.5px rgba(107,110,107,0.269),0px 0px 30px 10px rgba(107,110,107,0.269);
  background-image: url('crackers.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
#num p:nth-child(1),#num p:nth-child(2),#num p:nth-child(3),#num p:nth-child(4){
  color: #fff;
  text-shadow: 0px 0px 15px rgb(0,253,255),0px 0px 20px rgb(0,253,255);
  animation: num-effect 2s infinite alternate-reverse;
  transform: translate(15%,-15%);
}
#num p:nth-child(2){
  animation-delay: 0.1s;
}
#num p:nth-child(3){
  animation-delay: 0.3s;
}
#num p:nth-child(4){
  animation-delay: 0.4s;
}
@keyframes num-effect{
  0%{
    visibility: visible;
    filter: hue-rotate(0deg);
  }
  100%{
    visibility: visible;
    filter: hue-rotate(330deg);
  }
}
#wise p{
  display: table-cell;
  font-family: 'Concert One', cursive;
}
#name-box{
  position: absolute;
  width: 30vw;
  height: 3.95vh;
  border: 0px solid ;
  right: 0px;
  left: 50%;
  transform: translate(-50%,18.9vh) skew(-25deg);
  display: grid;
  place-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px rgba(107,110,107,0.269);
}
#name-box::before{
  content: "";
  position: absolute;
  width: 130%;
  height: 80%;
  background-image: linear-gradient(#05eaff, #9b05ff, #ff05f4);
  animation: rotate-effect 2s linear infinite;
}
#name-box::after{
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #fff;
}
#name-box h1{
  font-size: 45px;
  z-index: 900;
  background-image: linear-gradient(100deg,#ff0000,#ff8000,#fffa00,#1cff00,#00ffaa,#00fff2,#0056ff,#0d00ff,#9a00ff,#ff00a3);
  background-size: 400%;
  -webkit-background-clip:text;
  color: transparent;
  animation: colour-effect 5s infinite alternate-reverse;
}
@keyframes colour-effect{
   0%{
      background-position: -100%;
     }
  25%{
      background-position: -200%;
      }
  50%{
      background-position: -300%;
      }
  75%{
      background-position: -400%;
      }
 100%{
      background-position: -500%;
      }
  }  
#notice{
  position: absolute;
  width: 100%;
  height: 75px;
  text-align: center;
  font-size: 25px;
  line-height: 75px;
  font-weight: bolder;
  top: 45.8%;
  color: white;
  background-image: linear-gradient(115deg,#ff4f00,#ff009b);
  box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.7) inset;
}
.last-box{
  position: absolute;
  width: 40vw;
  height: 29.5vh;
  border: 0px solid ;
  top: 54%;
  border-radius: 45px;
  box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.7);
}
#last-box1{
  left: 3.5%;
}
#last-box1::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  background-image: url('https://raw.githubusercontent.com/raj654/NewYear.github.io/main/Crackers3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(3px);
}
#last-box2::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  background-image: url('https://raw.githubusercontent.com/raj654/NewYear.github.io/main/Crackers4.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(1.5px);
}
#last-box2{
  right: 3%;
}
#last-box1 p,#last-box2 p{
  font-size: 35px;
  color: #fff;
  z-index: 910;
  text-shadow: 0px 0px 6px #000000;
  transform: translateY(2.5vh);
  text-align: center;
}
#last-box2 p{
  transform: translateY(1.3vh);
}
